Checks: >
  modernize-*,
  cppcoreguidelines-*,
  readability-*,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-identifier-length
# WarningsAsErrors: '*'
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
